/home/shraddha/git/ToxicCommentClassificationAPI/models/__pycache__/
/home/shraddha/git/ToxicCommentClassificationAPI/resources/__pycache__/
/home/shraddha/git/ToxicCommentClassificationAPI/utils/__pycache__/
